name: Security Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:

  # ===============================
  # 1) SAST - SEMGREP
  # ===============================
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Semgrep scan
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/ci
          skip-unknown-extensions: true
          strict: false

  # ===============================
  # 2) SECRET SCANNING - GITLEAKS
  # ===============================
  gitleaks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Secret scan with Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --source . --no-git -v

  # ===============================
  # 3) DAST - OWASP ZAP
  # ===============================
  owasp-zap:
    runs-on: ubuntu-latest
    needs: [semgrep, gitleaks]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Instalar dependencias y levantar API
      - name: Start API locally
        run: |
          pip install -r requirements.txt
          python backend/app.py &
          sleep 10

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://localhost:5000"
          fail_on_warnings: false
